body{
    background-color: #FFDB58;
    font-family: sans-serif;
    height: 100vh;
}

.side-by-side-items{
    display: flex;
    justify-content: center;
}
.vertically-alligned-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rounded-container{
    width: auto;
    border: black solid 2px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;

}

.brutal-shadow{
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
}
.emoji-image{
    font-size: 3rem;
}
.alt-color{
    background-color: #C4A1FF;
}

.default-margin{
    margin: 10px;
}
.extra-top-margin{
    margin: 10px;
    margin-top: 15px;
}


#title{
    font-weight: bold;
    font-size: 2rem;
}